version: "3.9"
services:
  network-monitor:
    image: network-monitor
    container_name: network-monitor
    network_mode: bridge
    ports:
      - "587:587"
    environment:
      - NM_PING_INTERVAL=10  # miutes
      - NM_API_EMAIL=
      - NM_API_EMAIL_PASSWORD=
      - NM_RECIPIENT_EMAIL=
      - NM_SSID= # nmcli connection show --active | grep wifi | awk '{print $1}'